body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to left, #0ed7a5, #405b61);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.container { 
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

h2 {
    color: #065cfd;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column; 
}

label {
    font-weight: bold;
    margin-top: 12px;
    color: #024f4f;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #320efc;
    border-radius: 8px;
    font-size: 16px;
    
}


input:focus, select:focus {
    border-color: #320efc;
   
}


select {
    background: white;
    cursor: pointer;
}


input[type="submit"] {
    background: #065cfd;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
}

input[type="submit"]:hover { 
    background: #320efc;
    transform: scale(1.05);
}
